<div class="navigation col-lg-12">
  <nav class = "navbar navbar-default">
    <div class= "container-fluid">

      <div class = "navbar-header">
        <a href="#" class= "navbar brand">{{title}}</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            <span class= "glyphicon glyphicon-home"></span>
            INICIO
          </a>
        </li>
        
        <li>
          <a href="#">
              <span class= "glyphicon glyphicon-apple"></span>
            DESAYUNOS
          </a>
       </li>

       <li>
        <a href="#">
          <span class= "glyphicon glyphicon-cutlery"></span>
            COMIDA 
        </a>
       </li>

       <li>
         <a href="#">
          <span class= "glyphicon glyphicon-glass"></span>
              BEBIDAS
          </a>
        </li>
      </ul>
      
    </div>
  </nav>
</div>

<router-outlet></router-outlet>